$colorOne: #0F7BFF;
$colorTwo: #0063DD;

@mixin button{
    width: 165px;
    height: 50px;
    padding-top:13px;
    border-radius: 25px;
    border:2px solid currentColor;
    color: $colorOne;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    transition: all .4s ease;
    &:hover{
        background-color: $colorOne;
        color: white;
    }
}

@mixin button-with-svg{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $colorTwo;
    svg{
        transform: translateY(2px);
        margin-left: 15px;
    }
    &:after{
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background-color: $colorOne;
        opacity: 0;
        transition: all .4s ease;
    }
    &:hover::after{
        opacity: 1;
    }
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;

}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    .header__container{
        max-width: 1330px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
    .header__logo{
        min-width: 179px;
        height: 100px;
        border-bottom-right-radius: 21.5px;
        border-bottom-left-radius: 21.5px;
        background-color: $colorOne;
        font-weight: 700;
        font-size: 36px;
        color: white;
        text-align: center;
        padding-top: 25px;
    }
    .header__menu{
        display: flex;
        ul{
            width: 355px;
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            text-transform: uppercase;
            cursor: pointer;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            li{
                transition: all .4s ease;
                &:hover{
                    color: $colorOne;
                }
            }
        }
    }
    #sign-up-button{
        @include button;
        margin: 25px 0 0 52px;
    }
}

.first-block{
    background-image: url("../images/Vector1.png");
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 188px;
    .first-block__elements{
        max-width: 655px;
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 108px;
        p{
            margin:30px 0;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: center;
            color: #929292;
        }
        .first-block__elements__buttons{
            display: flex;
            justify-content: center;
            a{
                @include button;
            }
            #download-button{
                margin-right: 30px;
            }
        }
    }
    .first-block__devices{
        max-width: 100%;
        max-height: 494px;
        position: relative;
        z-index: 1;
    }
    #scroll-down-button{
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: $colorTwo;
        border-radius: 50%;
        bottom: -30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        &::after{
            content: '';
            position: absolute;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: rgba(0, 99, 221, 0.23);
            transition: 0.5s all ease;
        }
        &:hover:after{
            transform: scale(1.5);
        }
    }
}

.features{
    position: relative;
    z-index: 2;
    padding-top: 165px;
    padding-bottom: 180px;
    background-color: #F5FCFD;
    .features__cards{
        display: flex;
        justify-content: center;
        .features__cards__card{
            padding-top: 40px;
            background-color: white;
            text-align: center;
            max-width: 362px;
            height: 290px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 30px;
            box-shadow: 0px 4px 16px 0px #00429414;
            h3{
                font-weight: 500;
                font-size: 18px;
                margin: 25px 0;
            }
            p{
                max-width: 333px;
                font-weight: 300;
                font-size: 16px;
            }
            &:nth-child(2){
                margin-top:50px ;
            }
        }
    }
}

.about{
    max-width: 1202px;
    margin: 0 auto;
    padding: 60px 20px 116px 20px;

    h3{
        font-size: 32px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 30px;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 35px;
    }
    a{
        @include button-with-svg;
    }
    
    .about__block1{
        display:flex;
        margin-bottom: 233px;
        position: relative;
        .about__block1__image{
            max-height: 373px;
            max-width: 100%;
            margin-right: 128px;
            object-fit:contain;
            z-index: 3;
        }
        .about__block__content{
            padding-top: 94px;
            max-width: 476px;
            min-width: 350px;
        }
        .back{
            position: absolute;
            top:-120px;
            left: -80px;
            z-index: 2;
            
        }
    }
    .about__block2{
        max-width: 1048px;
        display:flex;
        position: relative;
        .about__block2__image{
            max-height: 408px;
            max-width: 100%;

        }
        .about__block__content{
            max-width: 543px;
            padding-top: 99px;
            margin-right: 143px;

        }
        .back{
            position: absolute;
            top:-20px;
            right: -180px;
            z-index: -1;
            
        }
    }
    
}
.how-does-it-works{
    
    margin-right:0 ;
    position: relative;
    z-index: -2;
    background-color: #F5FCFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 119px;
    padding-bottom: 137px;
    h2{
        font-weight: 500;
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 25px;
    }
    p{
        max-width: 722px;
        font-weight: 300;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        margin-bottom: 45px;
    }
    .how-does-it-works__list{
        max-width: 1113px;
        position: relative;
        display: inline-flex;
        .how-does-it-works__list__item{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                margin-bottom: 30px;
            }
            h3{
                margin-bottom: 20px;
                font-size: 18px;
                font-weight: 600;
                line-height: 23px;
            }
            p{
                font-weight: 300;
                font-size: 16px;
                line-height: 150%;
            }
        }
        .line{
            position: absolute;
            width: 71%;
            left: 50%;
            transform: translate(-50%);
            top: 50px;
            z-index: -1;
        }
    }
}

.price{
    padding-top: 130px;
    padding-bottom: 129px;
    .price__container{
        max-width: 1186px;
        margin: 0 auto;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
    }
    .price__pricing-plan{
        max-width: 340px;
        align-self: center;
        margin-right: 60px;
        h2{
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            margin-bottom: 30px;
        }
        p{
            font-size: 16px;
            font-weight: 300;
            line-height: 24px;
            margin-bottom: 40px;
        }
        .price__pricing-plan__buttons{
            white-space: nowrap;
        }
        a{
            display: inline-block;
            padding-top: 11px;
            width: 164px;
            height: 50px;
            text-align: center;
            color: #0F7BFF;
            border: 3px solid #0F7BFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            transition: all .4s ease;
            &:hover{
                color: white;
                background-color: $colorOne;
            }
        }
        #monthly-button{
            border-radius: 25px 0px 0px 25px;
        }
        #yearly-button{
            border-radius: 0px 25px 25px 0px;
            transform: translateX(-7px);
        }
    }
    .price__rates__rate{
        max-width: 362px;
        width: 100%;
        padding-top: 53px;
        padding-bottom: 46px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0px 4px 20px rgba(0, 36, 80, 0.08);
        border-radius: 5px;
        .price__rate__image{
            display: inline-block;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 86px;
            height: 86px;
            border-radius: 50%;
            background-color: $colorTwo;
            margin-bottom: 34px;
            &::after{
                content: '';
                position: absolute;
                z-index: -1;
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background-color: rgba(0, 99, 221, 0.23);
                transition: 0.5s all ease;
            }
            &:hover:after{
                transform: scale(1.5);
            }
        }
        h3{
            margin-bottom: 25px;
            font-size: 18px;
            font-weight: 700;
            line-height: 23px;
        }
        svg{
            margin-bottom: 23px;
            width: 90%;
        }
        p{
            max-width: 161px;
            text-align: center;
            font-size: 16px;
            font-weight: 300;
            line-height: 29px;
            margin-bottom: 26px;
        }
        .cost{
            font-size: 32px;
            font-weight: 500;
            line-height: 40px;
            color: #0F7BFF;
            margin-bottom: 25px;
            .dollar{
                font-size: 18px;
                font-weight: 500;
                line-height: 23px;
            }
        }
        #try-now__premium{
            @include button;
        }
        #try-now__standart{
            @include button;    
        }
    }
}

.testimonials{
    background: #F5FCFD;
    .testimonials__container{
        max-width: 1920px;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
    }
    img{
        margin-right: 70px;
        max-height: 601px;
        max-width: 100%;
    }
    .testimonials__content{
        padding-top: 113px;
        padding-bottom: 144px;
        padding-left: 20px;
    }
    h2{
        margin-bottom: 40px;
    }
    .testimonials__content__carusel{
        display: flex;
        margin-bottom: 37px;
    }
    .testimonials__content__carusel__slide{
        width: 362px;
        padding: 40px 0 39px 30px;
        box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
        border-radius: 5px;
        margin-right: 30px;
    }
    input[type="radio"]{
        display: none;
    }
    .navigation{
        display: flex;
        .bar{
            width: 12px;
            height: 12px;
            border: 1.6px solid #0063DD;
            border-radius: 50%;
            cursor: pointer;
            margin-right: 8px;
            transition: all .4s ease;
            &:hover{
                transform: scale(1.2);
            }
            
        }
        input:checked + .bar{
            width: 38.4px;
            background-color: $colorTwo;
            border-radius: 32px
        }
        #r2:checked + .first-slide{
            margin-left: -392px;
        }
    }
    
}

.latest-news{
    max-width: 1237px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 20px 106px 20px;
    .latest-news__title{
        margin-bottom: 25px;   
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    .latest-news__subtitle{
        max-width: 722px;
        margin-bottom: 40px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
    .latest-news__posts{
        width: 100%;
        display: flex;
        .latest-news__posts__post1
        {
            max-width: 558px;
            margin-right: 30px;
            img{
                margin-bottom: 30px;
                box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
                border-radius: 5px;     
            }
            h3{
                margin-bottom: 25px;
                font-size: 24px;
                font-weight: 500;
                line-height: 36px;
                color: #0063DD;
            }
            p{
                margin-bottom: 35px;
                max-width: 543px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
            }
            #continue-reading{
                @include button-with-svg;
            }
        }
        .post{
            max-width: 609px;
            width: 100%;
            display: flex;
            margin-bottom: 26px;
            padding-bottom: 7px;
            img{
                margin-right: 30px;
                box-shadow: 0px 4px 20px rgba(0, 70, 156, 0.08);
                border-radius: 5px;
            }
            h3{
                margin-bottom: 25px;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
            }
            p{
                max-width: 339px;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
                text-align: left;
            }
        }
    }
}
.free-trial{
    padding-top: 133px;
    padding-bottom: 113px;
    background-color: #F5FCFD;
    display: flex;
    justify-content: center;
    align-items: center;
    .free-trial__text{
        margin-right: 154px;
    }
    h2{
        margin-bottom: 25px;
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
    }
    #free-trial-button2{
        padding-top: 13px;
        text-align: center;
        min-width: 264px;
        height: 50px;
        color: $colorOne;
        border:2px solid currentColor;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        transition: all .4s ease;
        svg{
            transform: translateY(2px);
            margin-left: 13px;
            fill: $colorOne;
            transition: all .4s ease;
        }
        &:hover{
            color: white;
            background: $colorOne;
            svg{
                fill:white;
            }
            
        }
    }
}
.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $colorOne;
    padding-top: 118px;
    padding-bottom: 119px;
    h2{
        font-size: 36px;
        font-weight: 700;
        line-height: 45px;
        color: white;
        margin-bottom: 30px;
    }
    form{
        white-space: nowrap;
    }
    input{
        width: 392px;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 11px 0 15px 28px;
        background: #0063DD;
        border-radius: 25px 0 0 25px; 
        border: none;       
    }
    button{
        cursor: pointer;
        width: 166px;
        height: 50px;
        border-radius: 0px 25px 25px 0px;
        border: none;
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        color: $colorOne;
        text-transform: uppercase;
        transform: translateX(-4px) translateY(2px);
        transition: all .4s ease;
        &:hover{
            color: white;
            background-color: $colorTwo;
            border: 3px solid white;
        }
    }
}
footer{
    background-color: $colorTwo;
    padding: 28px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__copyright{
        margin-right: 248px;
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: white;
    }
   .footer__navigation{
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: white;
        max-width: 345px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-right: 84px;
   }
   .footer__social-media{
       max-width: 97px;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-right: 160px;
   }
   #scroll-up{
       transition: all .4s ease;
       &:hover{
        transform: scale(1.2);
       }
   }
}

@media (max-width:1290px)
{
    .back{
        display: none;
    }
    .testimonial__img{
        display: none;
    }
}

@media (max-width:1055px){
    .price__container{
        flex-direction: column;
        align-items: center;
        padding: 0;
        .price__pricing-plan{
            margin-right:0px;
            margin-bottom: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
    .about{
        .about__block1{
            flex-direction: column;
            align-items: center;
            margin-bottom: 60px;
            .about__block1__image{
                margin: 0;
            }
        }
        .about__block2{
            flex-direction: column-reverse;
            align-items: center;
            .about__block__content{
                margin: 0;
            }
        }
    }
    .latest-news__posts{
        flex-direction: column;
        align-items: center;
    }
    
}

